

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

/* Style the links inside the navigation bar */
.navbar NavLink {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #61dafb;
}



/* Change the color of links on hover */
.navbar:hover {
  transition: .3s;
  color: #6C2498;
}

.fa-facebook{
  color: #4267B2;
  font-size: 2.5rem;
}

.fa-instagram{
  color: #BB1875;
  font-size: 2.5rem;
}
.fa-whatsapp{
  color: #2BD14A;
  font-size: 2.5rem;
}

.navbar p{
  font-size: .7rem;
  
}

.menu{
  font-size: 1.7rem;

}
